.buildingInfoBg{
    background-image: linear-gradient(to bottom right, #9c9c9c,#90b8cc);
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.buildinInfoContainer{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    
}
.headingInfo{
    font-family: "Roboto",sans-serif;
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}
.plotInfoContainer{
   padding-top: 10px;
}
.no-outline-input {
    outline: none;
    border: none;
  }
  .error {
    border: 1px solid #a94442 !important;
  }
  .error-text {
    color: #a94442;
  }
.subHeadings{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color:#000000;
    font-size: 20px;
    margin-top: 10px;
}

.label{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}
.inputEl{
    margin-bottom: 10px;
}
.constructionDetailsInfoContainer{
   padding-bottom: 10px;
}
.constructionStagesContainer{
    padding-bottom: 10px;
}
.stagesCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.buildingDetailsContainer{
    padding-bottom: 10px;
}

.nextButtonCont{
    margin-top: 10px;
    text-align: center;
}
.red-icon {
    color: #ff8080;
}
.plotConstructionContainer{
    display: flex;
    flex-direction: column;
}
.card{
    flex: 1;
    margin: 5px;
}

.ButtonLanguage {
    position: absolute;
    top: 100px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
  }
@media only screen and (min-width: 800px) {
.buildingInfoBg{
    padding: 100px;
}
.plotConstructionContainer{
    flex-direction: row;
}
}
.buttonAdd{
    background-color: hsl(211, 48%, 44%);
    color:#ffffff;
    border-radius: 8px;
    border-width: 0px;
    width: 70px;
}
.rtl {
    direction: rtl;
  }
  
  .rtl-text {
    text-align: right;
  }